{% extends 'showcase/base.html' %}

{% block body_block %}
        <div class="row">
        <h2>Login</h2>
            <div class="callout panel">
            <div class="row">
                <div class="large-8 columns">


            <form id="login_form" method="post" action="/showcase/login/">
            {% csrf_token %}
            <div class="row">
                <div class="large-6 columns">
                <label>Username
                    <input type="text" name="username" value="" size="50" />
                </label>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                <label> Password
                    <input type="password" name="password" value="" size="50" />
                </label>
                </div>
            </div>

            <input class="button tiny" type="submit" value="Login" />
            </form>

        </div>
        </div>

        </div>
        </div>

{% endblock %}