{% extends 'showcase/base.html' %}

{% block body_block %}
    <div class="row">
        <h2>Register</h2>
        <div class="callout panel">
            <div class="row">
                <div class="large-8 columns">
                    <p> Would you like to <a href="/showcase/register/rater/">register as a rater</a>
        or <a href="/showcase/register/team/"> register a team</a>?
                    </p>

                    <p>To showcase the application you have built then register as team, where you will be able to list the demonstrations that you have built.</p>
                    <p>To rate applications register as a rater.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}