{% extends 'showcase/base.html' %}

{% block body_block %}
    <div class="row">
        <h2>Team Registration Form</h2>
        <div class="callout panel">
            <div class="row">
                <div class="large-8 columns">
                {% if registered %}
                    <strong>Thank you for registering!</strong>
                    <a href="/showcase/">Return to the homepage.</a><br />
                {% else %}
                    <p><strong>Please enter the following details to register your team.</strong><br/></p>

                    <form id="user_form" method="post" action="/showcase/register/team/"
                        enctype="multipart/form-data">

                    {% csrf_token %}
                        <b>Login Details</b>
                        <div>
                        {{ user_form.as_p }}
                        </div>
                        <div>
                            <b>Team Details</b>
                            {{ team_form.as_p }}
                        </div>
                        <input class="button tiny" type="submit" name="submit" value="Register" />
                    </form>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}