{% extends 'showcase/base.html' %}

{% block body_block %}
     <div class="row">
         <h2>Team</h2>
        <div class="callout panel">
            <div class="row">
                <div class="large-2 columns">
                    <a class="th" href="/showcase/team/{{team.id}}/">
                    {% if team.logo %}
                        <img width="96" height="96" src="/media/{{team.logo}}" />
                    {% else %}
                        <img width="96" height="96" src="http://lorempixel.com/97/97/abstract/" />
                    {% endif %}
                    </a>
                </div>
                <div class="large-7 columns">
                    <h1>{{team.name}}</h1>
                    <h5>{{team.members}}</h5>
                </div>
                <div class="large-3 columns">
                    <a class="th" href="/showcase/team/{{team.id}}/">
                    {% if team.photo %}
                        <img src="/media/{{team.photo}}" />
                    {% else %}
                        <img width="256" height="128" src="http://lorempixel.com/256/128/people/" />
                    {% endif %}
                     </a>
                </div>
            </div>
        </div>

     <div class="panel">
        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                <h3>Demo List</h3>

                <div>
                {% if demos %}
                    {% for demo in demos %}
                        <div class="row">
                            <div class="large-2 columns">

                            <a class="th" href="{{demo.url}}">
                                {% if demo.screenshot %}
                                <img class="th" width="96" height="96" src="/media/{{demo.screenshot}}" alt="{{demo.name}}" />
                             {% else %}
                          <img width="96" height="96" src="http://lorempixel.com/96/{{demo.id|add:96}}/technics/" />
                        {% endif %}
                            </a>


                        </div>
                        <div class="large-6 columns">
                        <h4><a href="/showcase/demo/show/{{demo.id}}/">{{ demo.name }}</a> </h4>
                        <h6>{{demo.tagline}}</h6>
                        <h6>Average Rating:
                       {% include 'showcase/rating_score.html' %}
                        </h6>
                        </div>
                        <div class="large-4 columns">
                        <a class="button tiny" href="/showcase/demo/show/{{demo.id}}/">View</a>
                        {% if myteam %}
                            <a class="button tiny" href="/showcase/demo/edit/{{demo.id}}/">Edit</a>
                            <a class="button tiny" href="/showcase/demo/delete/{{demo.id}}/">Delete</a>
                        {% endif %}

                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <strong>No demos submitted. </strong>
                {% endif %}
                </div>

                </div>

                <div class="row">
                    <hr/>
                <p>
                    {% if myteam %}
                    <a class="button tiny" href="/showcase/demo/add/">Add Demo</a>
                {% endif %}
                    </p>
                    </div>

            </div>
        </div>
     </div>






{% endblock %}